<div class=post-content>
    <%= @post.content %>
</div>
<%= form_for @post do |f| %>
    <%= f.label "Title" %><br/> 
    <%= f.text_field :title %><br/> <br/> 

    <%= f.label "Content" %><br/> 
    <%= f.text_area :content %><br/> <br/> 

    <%= f.label "Available Categories" %><br/> 
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br/> <br/> 

    <%= f.label "Create New Category" %><br/> 
    <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
        <%= categories_fields.label :name, "Category" %><br/> 
        <%= categories_fields.text_field :name %><br/> 
    <% end %>

    <%= f.submit %>
<% end %>